<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
>
<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<body>
<!--/*/ <th:block th:include="fragments/headerinc :: header"></th:block> /*/-->
<div class="container-wrapper">
    <div class="container">
        <div class="page-header">
            <h1>ADministrator Page</h1>
            <p class="lead">This is Administrator Page.</p>
        </div>
        <h3>
            <a th:href="@{/admin/productInventory}"> Product Inventory.</a>
        </h3>
        <p>Here you can view, check and modify the inventory.</p>
        <!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->
    </div>
</div><!-- /.container -->
</body>
</html>