<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<body>
<!--/*/ <th:block th:include="fragments/headerinc :: header"></th:block> /*/-->

<div class="Container-wrapper">
    <div class="container">
        <div class="page-header">
            <h1>Product Detail</h1>
            <p class="lead">Here is the detailed information of the product.</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <img th:src="@{/images/product1.png}" alt="image" height="300px" width="100%">
                </div>
                <div class="col-md-5">
                    <h3> Product Name</h3>
                    <p>Product Description</p>
                    <p>Manufacturer</p>
                    <p>Category</p>
                    <p>Condition</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->
</body>
</html>